*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
 }
body{
	background-color: #eee;
	}
.main{
	 background-color: #fff;
	 display: flex;
	 width: 95%;
	 max-width: 1000px;
	 margin: auto;
	 box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.3);
	 flex-wrap: wrap;
	 }
.item{
	max-height: 265px;
	max-width: 490px;
	width: calc(95vw - 10px);
	height: calc(95vw / 2 / 16*9);
	margin: 5px;
	background-color: dodgerblue;
	background-position: center;/* совмищает центер картинки с центром контейнера */
	-webkit-background-size: cover;/* масштабирует из. в соотвестствии с его размером */
	background-size: cover;
	}
.img_link:hover{
	opacity: 1;
	/*transform: skew(45deg, 180deg);*//* универсальное свойство изменения (scale - увеличивает, rotate - меняет угол) */
	transform: scale(1.5);
	z-index: 10;
}
.header{
	font-family: 'Bad Script', cursive;
	font-size: 48px;
	text-align: center;
	width: 100%;
	padding: 30px 0;
	}
.img_link{
	display: block;
	opacity: 1;/* прозрачность */
	transition: opacity 0.4s ease, transform 1s ease-in;/* время анимации */
	}
.footer{
		width: 100%;
		padding: 30px 0;
		text-align: center;
	   }
.a{
	font-size: 30px;
	border-bottom-color: red;isplay: inline-block;/*коррекция ширины ссылки*/
	border-bottom: 10px solid transparent;
	transition: 0.2s ease-in;/*продолжительнось анимации*/
	}
.a:hover /*наводка куросра*/{
	border-bottom-color: red;
	}
.poisk{
	   width: 25%;
	   float: right;
	  }
	
