*{
  background-color: #FFFFE0;
 }
.p1 {
 	color: grey;/*цвет шрифта*/
	font-size: 20px;/*размер шрифта*/
	font-family: Arial;/*стиль шрифта*/
	}
.p2 {
 	color: yellow;
	font-size: 60px;
	font-family: 'Stalinist One', cursive;
	}
.p3 {
 	color: green;
	font-size: 70px;
	font-family: 'Big Shoulders Text', cursive;
	}
.body {
		width: 55%;/*ширина*/
		margin: auto;/*внешний отступ*/
		background-color: #dfebab;
		box-shadow: 7px 7px 10px 1px rgba(1,1,1,0.9)
		width: 100%;
		padding: 30px 0;
		text-align: center;
	  }
p{
  background-color:  #dfebab;
 }
.h1{
   background-color:  #dfebab;
  }
.img1{
	margin-left: auto;
    margin-right: auto;
    width: 6em;
   }
.footer{
		width: 100%;
		padding: 30px 0;
		text-align: center;
	   }
.header {
		 font-size: 48px;
		 text-align: center;
		 width: 100%;
		 padding: 30px 0;
	  	}

.div4 {
		border:60px solid none;/* задаёт границу элемента(px - толщина)*/
	  }
.div4:hover /*наводка куросра*/{
	border-top-color: grey;
	border-bottom-color: green;
	border-left-color: red;
	border-right-color: yellow;
	 }
.a{
	font-size: 30px;
	border-bottom-color: red;isplay: inline-block;/*коррекция ширины ссылки*/
	border-bottom: 10px solid transparent;
	transition: 0.2s ease-in;/*продолжительнось анимации*/
	}
.a2 {
	font-size: 50px;
	text-decoration: none;/*дикарация текста*/
	color: black;
	display: block;
	margin: 40px 0;
	}
.img1{
	max-width: 100%;
	height: auto; /*высота*/
	display: block;
	 }
.a:hover /*наводка куросра*/{
	border-bottom-color: red;
	}
.poisk{
	   width: 25%;
	   float: right;
	  }
